@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 768px) {
  html body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: #0c0c0c;
    position: relative;
  }
  html body .nav {
    display: flex;
    z-index: 10;
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    overflow: hidden;
  }
  html body .nav .logo {
    position: absolute;
    left: 30px;
  }
  html body .nav .logo img {
    width: 40px;
  }
  html body .nav button {
    display: none;
  }
  html body .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    transform: translateX(calc(50% - 75px));
    transition: all 1s ease-in-out;
  }
  html body .nav ul a {
    width: 150px;
    color: #aaa;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease-in-out;
  }
  html body .nav ul .active {
    color: #f7fc00;
    font-size: 18px;
  }
  html body .nav ul .dots {
    display: none;
  }
  html body .container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
  html body .container::-webkit-scrollbar {
    width: 10px;
  }
  html body .container::-webkit-scrollbar-track {
    background-color: #a7a7a7;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
  }
  html body .container::-webkit-scrollbar-thumb {
    background-color: #f7fc00;
    border-radius: 30px;
  }
  html body .container section {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
  html body .container section:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 110px 50px 50px 50px;
    background: url(../res/Intro.webp) no-repeat center/cover;
    position: relative;
  }
  html body .container section:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12, 12, 12, 0.6039215686);
    z-index: 0;
  }
  html body .container section:nth-child(1) .left {
    z-index: 2;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  html body .container section:nth-child(1) .left h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
    gap: 0px;
  }
  html body .container section:nth-child(1) .left h2 span {
    text-shadow: 5px 3px 50px #393838;
    font-family: Orbitron;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 9.6px;
    text-transform: capitalize;
    background: linear-gradient(-160deg, white, white, gray, rgb(48, 48, 48));
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  html body .container section:nth-child(1) .left .skills {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  html body .container section:nth-child(1) .left .skills h3 {
    padding: 2px 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: linear-gradient(90deg, #5a5a5a, #202020);
    background-size: 200%;
    background-position-x: left;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    border: 2px solid #f7fc00;
    cursor: pointer;
  }
  html body .container section:nth-child(1) .left .skills h3:hover {
    transition: all 0.5s ease-in-out;
    background-position-x: right;
  }
  html body .container section:nth-child(1) .left p {
    font-size: 16px;
    color: #aaaaaa;
    font-weight: 200;
  }
  html body .container section:nth-child(1) .left .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  html body .container section:nth-child(1) .left .buttons .button {
    font-size: 16px;
    padding: 10px 0px;
    color: black;
    width: 150px;
    border-radius: 10px;
    background-color: #f7fc00;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
  }
  html body .container section:nth-child(1) .left .buttons .more {
    background-color: transparent;
    color: #f7fc00;
    border: 1px solid #f7fc00;
  }
  html body .container section:nth-child(1) .image {
    z-index: 2;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  html body .container section:nth-child(1) .image img {
    width: 90%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f7fc00;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  html body .container section:nth-child(1) .image svg {
    display: none;
    width: 100%;
  }
  html body .container section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  html body .container section:nth-child(2) h1 {
    text-transform: capitalize;
    font-family: "Orbitron";
    font-size: 89px;
  }
  html body .container section:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  html body .container section:nth-child(3) h1 {
    text-transform: capitalize;
    font-family: "Orbitron";
    font-size: 89px;
  }
  html body .container section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  html body .container section:nth-child(4) h1 {
    text-transform: capitalize;
    font-family: "Orbitron";
    font-size: 89px;
  }
}
@media (max-width: 767px) {
  html body {
    width: 100vw;
    height: 100vh;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }
  html body .nav {
    display: flex;
    z-index: 10;
    width: 100%;
    height: 7vh;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    overflow: visible;
  }
  html body .nav .logo {
    position: absolute;
    z-index: 11;
    left: 20px;
    top: 1vh;
  }
  html body .nav .logo img {
    width: 35px;
  }
  html body .nav button {
    position: absolute;
    right: 20px;
    z-index: 11;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  html body .nav button svg {
    fill: #ffffff;
    color: white;
    height: 25px;
    width: 25px;
  }
  html body .nav ul {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 99%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9647058824);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: all 0.5s ease-in-out;
  }
  html body .nav ul a {
    width: 70%;
    line-height: 50px;
    border-bottom: 1px solid white;
    color: #aaa;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease-in-out;
  }
  html body .nav ul .active {
    color: #f7fc00;
    font-size: 22px;
  }
  html body .nav ul .dots {
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  html body .nav ul .dots .dot {
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #a7a7a7;
  }
  html body .container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
  html body .container section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
  }
  html body .container section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 0 20px;
    padding-top: 7vh;
    background: url(../res/Intro.webp) no-repeat center/cover;
    position: relative;
  }
  html body .container section:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12, 12, 12, 0.6039215686);
    z-index: 0;
  }
  html body .container section:nth-child(1) .image {
    order: 1;
    z-index: 2;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  html body .container section:nth-child(1) .image img {
    height: 100%;
    border-radius: 50%;
    border: 5px solid #f7fc00;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  html body .container section:nth-child(1) .image svg {
    display: none;
    width: 100%;
  }
  html body .container section:nth-child(1) .left {
    order: 2;
    z-index: 2;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4vh;
  }
  html body .container section:nth-child(1) .left h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  html body .container section:nth-child(1) .left h2 span {
    font-family: "Orbitron";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: capitalize;
    background: linear-gradient(-160deg, white, white, gray, rgb(48, 48, 48));
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  html body .container section:nth-child(1) .left .skills {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  html body .container section:nth-child(1) .left .skills h3 {
    padding: 2px 10px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    color: white;
    background: linear-gradient(90deg, #5a5a5a, #202020);
    background-size: 200%;
    background-position-x: left;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    border: 2px solid #f7fc00;
    cursor: pointer;
  }
  html body .container section:nth-child(1) .left .skills h3:hover {
    transition: all 0.5s ease-in-out;
    background-position-x: right;
  }
  html body .container section:nth-child(1) .left p {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 400;
    text-align: center;
  }
  html body .container section:nth-child(1) .left .buttons {
    width: 100vw;
    padding: 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  html body .container section:nth-child(1) .left .buttons .button {
    font-size: 16px;
    padding: 10px 0px;
    color: black;
    width: 50%;
    border-radius: 10px;
    background-color: #f7fc00;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
  }
  html body .container section:nth-child(1) .left .buttons .more {
    background-color: transparent;
    color: #f7fc00;
    border: 1px solid #f7fc00;
  }
  html body .container section:nth-child(2), html body .container section:nth-child(3), html body .container section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  html body .container section:nth-child(2) h1, html body .container section:nth-child(3) h1, html body .container section:nth-child(4) h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: "Orbitron";
    font-size: 48px;
  }
  html body .container section:nth-child(2) h5, html body .container section:nth-child(3) h5, html body .container section:nth-child(4) h5 {
    font-family: "Poppins";
    font-size: 16px;
    color: #aaaaaa;
    font-weight: 400;
  }
}/*# sourceMappingURL=styles.css.map */